
@{
    ViewData["Title"] = "404:NotFound";
}

<div class="alert alert-danger m-3">
    <h2>404: Product Not Found</h2>
   <br />
    <h3>
        Sorry..!!
        Product Id you are searching doesn't exist.
        Try with different Id.....
    </h3>
</div>
<a asp-controller="Home" asp-action="Index">Click here to go back to home page</a>

